@import 'theme-variables';

$navbar-box-shadow: rgba(0, 0, 0, .27);
$dropdown-con-color: rgba(0, 0, 0, .2);

.navbar {
  box-shadow: 0 3px 8px 1px $navbar-box-shadow;
}

.divider {
  border-left: 1px solid $gray-200;
  margin-bottom: -6px;
  margin-top: -7px;
}

//dropdown on hover link color css in menu
.dropdown-item {
  &.active {
    a {
      color: $white;

      &:hover {
        color: $white;
      }
    }
  }

  &:active {
    a {
      color: $white;

      &:hover {
        color: $white;
      }
    }
  }
}

.shoppingcart-dropdown {
  .dropdown-item {
    .media {
      .media-body {
        h6 {
          font-size: $base-font-size * .9;
        }

        p {
          color: $gray-600;
          font-size: $base-font-size * .8;
        }

        .price-text {
          color: $orange;
        }
      }
    }

    &.active,
    &:active {
      .media {
        .media-body {
          .price-text,
          p {
            color: $white;
          }
        }
      }
    }
  }
}

//navbar hover effact css
.navbar-light {
  .navbar-nav {
    .show {
      .nav-link {
        color: $gray-700;

        span {
          color: $orange;
        }
      }
    }

    .active {
      .nav-link {
        color: $gray-700;

        span {
          color: $orange;
        }
      }
    }

    .nav-link {
      &.show {
        color: $gray-700;

        span {
          color: $orange;
        }
      }

      &.active {
        color: $gray-700;

        span {
          color: $orange;
        }
      }

      &:focus {
        color: $gray-700;

        span {
          color: $orange;
        }
      }

      &:hover {
        color: $gray-700;

        span {
          color: $orange;
        }
      }
    }
  }
}

.mobile-menu {
  display: none;
}

.navbar-brand {
  width: 150px;
}

//Dropdownmenu open indicator
div {
  &.dropdown-menu {
    &.show {
      &::before {
        border-bottom: 7px solid $gray-300;
        border-bottom-color: $dropdown-con-color;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        content: '';
        display: inline-block;
        position: absolute;
        right: 4px;
        top: -7px;
      }

      &::after {
        border-bottom: 6px solid $white;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        content: '';
        display: inline-block;
        position: absolute;
        right: 5px;
        top: -6px;
      }
    }
  }
}

@media only screen and (max-width: 991px) {

  .container-fluid {
    padding: 0 10px;
  }

  .collapse {
    &.navbar-collapse {
      &.show {
        padding: 15px 0;
      }
    }
  }

  .mobile-menu {
    display: inline;
  }

  .hide-in-mobile {
    display: none;
  }
}
