<pdg-topbar></pdg-topbar>
<div class="content-part">
  <div class="container bg-white privacy-list">
    <div class="row p-2 pt-lg-5">
      <div class="col-sm-12 ">
        <h4 class="text-center">Privacy Policy</h4>
      </div>

    </div>
    <div class="row p-4">
      <div class="col-sm-12">
        <p class="mb-1">Pedagogy (“We” or “Us”) respects the privacy of everyone who visits this website or uses our mobile applications
          (“App”). As a result we would like to inform you regarding the way we would use your personal data. We recommend
          you to read this privacy policy so that you understand our approach towards the use of your personal data.</p>
        <p class="mb-1">By submitting your personal data to us, you will be treated as having given your permission, where necessary
          and appropriate.</p>
        <div class="">
          <ol class="pl-3 font-weight-bold">
            <li class="">
              <div>
                Information we collect from you (“Information”)
                <ol class="font-weight-normal">
                  <li class="">
                    We collect your and your customer’s personal information when you use our services through our App or our Website.
                  </li>
                  <li class="">
                    We also collect information when you complete any survey, ratings or review.
                  </li>
                  <li class="">
                    We collect information using standard web-logging methods, including cookies. This includes information like pages accessed,
                    time of access, your IP address, referring website/URL, browser details (user-agent), etc.

                  </li>
                  <li class="">
                    For users who use social login on our website (Facebook, Linkedin, Google, Twitter), we receive and store the corresponding
                    email address, name and basic public profile information as provided by the service providers.
                    When using these services, we never receive user passwords and therefore do not and cannot store
                    them on our servers.
                  </li>

                </ol>
              </div>

            </li>
            <li class="">
              <div>
                Use of information we collect from you
                <ol class="font-weight-normal">
                  <li class="">
                    We do not share visitor information with third-parties. Even when using login using Facebook, Linkedin, Google or Twitter,
                    no information about the pages you access on our website is relayed back to them.
                  </li>
                  <li class="">
                    We use Information to provide support to you, communicate with you and comply with our legal obligations.
                  </li>
                  <li class="">

                    Information may be shared with other related companies/entities for the purpose of development of marketing methods, website
                    improvements, etc. Such information as we collect might be shared with the Government in case we
                    are legally required to do so.
                  </li>
                  <li class="">
                    We may use the Information in any other manner that we may deem fit for our own purpose.
                  </li>
                </ol>
              </div>



            </li>
            <li class="">
              <div>
                Security of your information
                <ol class="font-weight-normal">
                  <li class="">
                    We have implemented appropriate physical, electronic, and managerial procedures to safeguard and help prevent unauthorized
                    access to your information and to maintain data security.
                  </li>
                  <li class="">
                    However, no method of transmission over the Internet or via mobile device, or method of electronic storage, is 100% secure.
                    Therefore, we cannot guarantee its absolute security and thereby usage in a manner that is inconsistent
                    with this Privacy Policy.
                  </li>
                  <li class="">
                    We assume no liability or responsibility for disclosure of your information due to errors in transmission, unauthorized third-party
                    access, or other causes beyond our control. You play an important role in keeping your personal
                    information secure. You should not share your user name, password, or other security information
                    with anyone. If we receive instructions using your user name and password, we will consider that
                    you have authorized the instructions.
                  </li>
                </ol>
              </div>
            </li>
            <li class="">
              <div>
                Changes to Privacy Policy
                <p class="font-weight-normal mt-10">
                    We reserve the right to amend this Privacy Policy from time to time to reflect changes in the law,
                    our data collection and use practices, the features of our services, or advances in technology.
                    Please check this page periodically for changes. Use of information we collect is subject to
                    the Privacy Policy in effect at the time such information is used. If we make any material changes
                    to this Privacy Policy, we will post the changes here. Please review the changes carefully. Your
                    continued use of the Services following the posting of changes to this Privacy Policy will constitute
                    your consent and acceptance of those changes.
                </p>
              </div>
            </li>
          </ol>
        </div>

      </div>

    </div>
  </div>
</div>
<pdg-footer></pdg-footer>