@import 'theme-variables';

.container-fluid {
  overflow: auto;
  position: relative;
}

.breadcrumb {
  background: none;

  .breadcrumb-item {
    color: $white;
    font-size: $base-font-size * .9;

    a {
      color: $white;
      font-size: $base-font-size * .9;
    }
  }

  .breadcrumb-item+.breadcrumb-item {
    ::before {
      color: $white;
    }
  }
}

.icon-addon {
  color: $gray-600;
  display: block;
  position: relative;

  &::before {
    content: ' ';
    display: table;
  }

  &::after {
    content: ' ';
    display: table;
  }

  .fa {
    font-size: 14px;
    margin-left: -2.5px;
    padding: 10px 0;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 7px;
    width: 20px;
    z-index: 2;
  }

  .form-control {
    float: left;
    font-weight: normal;
    padding-right: 30px;

    &:focus {
      border-color: $orange;
    }

    &:focus + .fa {
      color: $orange;
    }
  }

}

.filter {
  .dropdown-toggle
  &::after {
    content: none;
  }

  .filter-link {
    color: $white;

    &:hover {
      color: $orange;
    }
  }
}

.mylibs-heading {
  a {
    color: $white;

    &:hover {
      color: $orange;
      }
  }
}
@media only screen and (max-width: 991px) {
  .ped-sidbar-activater {
    position: absolute;
    left:0px;
    background: $orange;
    color:#fff;
    z-index: 9;
    padding: 7px 10px;
    &.close {
      right: 0;
      left: auto;
      z-index: 9999;
      opacity: 1;
      font-size: 15px;
      padding: 11px;
    }
  }
  .ped-mob-icon-space {
    padding-left: 30px;
  }
  .ped-mob-height {
    min-height: calc(100vh);
  }
  .ped-flex-sidebar {
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
     -ms-transition: all 0.4s ease-out;
      -o-transition: all 0.4s ease-out;
         transition: all 0.4s ease-out;
    position: absolute;
    left: -480px;
    z-index: 999;
    
  }
  .active-sidebar {
    left: 0 !important;
  }
}
@media only screen and (max-width: 480px ){
  .ped-flex-sidebar {
    width: 100% !important;
  }
}