<div class="ped-mob-background">
  <div class="container">
    <div class="row justify-content-end align-items-center">
      <div class="col-md-8 col-sm-12">

        <h1 class="">Coming Soon!</h1>
        <p>Android &amp; iOS Apps for</p>
        <p>quick &amp; easy study &amp; practice on the go</p>
        <div class="ped-download-links">
          <button class="ped-download-iphone">&nbsp;</button>
          <button class="ped-download-android">&nbsp;</button>
        </div>

      </div>
    </div>
  </div>
</div>
