@import 'theme-variables';
$selected-background: rgba(232, 95, 42, .3);
$selected-border: #e85f2a;

.card {

  .card-body {
    .filter-div {
      border-bottom: 1px solid $gray-300;
    }

    .question-no {
      max-height:230px;
      overflow: auto;
      span {
        
        align-items: center;
        border: 1px solid transparent;
        color: $white;
        display:flex;
        font-size: $base-font-size * .9;
        height: 47px;
        justify-content: center;
        margin: .20rem;
        padding: .1rem;
        text-align: center;
        width: 47px;
        a {
          align-items: center;
          background-color: #e0dedb;
          display:flex;
          height: 35px;
          justify-content: center;
          line-height: 1;
          width: 35px;
        }
        &.skip {
          padding: 5px 8px;
          a {
            background: url('../../../../../assets/images/unanswer-q.png') no-repeat center;
            background-size: 100%;
            color: $white;
            height: 36px;
            width: 36px;
          }
        }
        &.attended {
          padding: 5px 8px;
          a {
            background: url('../../../../../assets/images/answered-q.png') no-repeat center;
            background-size: 100%;
            color: $white;
            height: 36px;
            width: 36px;
          }
        }

        &.marked {
          // background-color: $darkblue;
          background: $white;
          padding: 6px 5px;
          a {
            background: #7b508d;
            display:flex;
            height: 35px;
            width: 35px;
            border-radius: 50% !important;
            line-height: 1;
            text-align: center;
            color: $white;
            
          }
        }
        &.answered-marked {
          // background-color: $darkblue;
          background: $white;
          padding: 6px 5px;
          a {
            align-items: center;
            background: #7b508d;
            border-radius: 50% !important;
            color: $white;
            display:flex;
            height: 35px;
            justify-content: center;
            line-height: 1;
            position: relative;
            text-align: center;
            width: 35px;
            i {
              position: absolute;
              right: -5px;
              bottom: 2px;
              background: #92cd5c;
              border-radius: 50%;
              height: 15px;
              width: 15px;
              line-height: 85%;
              text-align: center;
              &::before {
                font-size: 7px;
                margin-left: 1px;
              }
            }
            
          }
        }

        &.success {
          background-color: lighten($success, 20%);
          color: $white;
        }

        &.danger {
          background-color: lighten($danger, 10%);
          color: $white;
        }

        &.active {
          border: 1px solid $selected-border;
          background: $selected-background;
          // border: 1px solid $primary;
        }
      }
    }
  }
}

.btn-group {
  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
.ped-common-marks {
  background: transparent;
  border: 1px solid transparent;
  padding: 1px;
  padding-bottom: 5px;
  text-align: left;
  font-size: 13px;
  padding-left: 50px;
  position: relative;
  min-height: 47px;
  span {
    position: absolute;
    left: 5px;
  }
}
.ped-mark-forreview {
  
  span {
    display: inline-block;
    background: #7b508d;
    padding: 11px 10px;
    height: 35px;
    width: 35px;
    margin-right: 10px;
    color: $white;
    border-radius: 50%;
    text-align: center;
    line-height: 1;
  }
  &.active:not([disabled]):not(.disabled) {
    background: $selected-background;
    border: 1px solid $selected-border;
    box-shadow: none;
  }
}
.ped-not-visited {
  
  span {
    display: inline-block;
    background: #e0dedb;
    padding: 11px 10px;
    height: 35px;
    width: 35px;
    color: black !important;
    margin-right: 10px;
    text-align: center;
    line-height: 1;
  }
  &.active:not([disabled]):not(.disabled) {
    background: $selected-background;
    border: 1px solid $selected-border;
    box-shadow: none;
  }
}
.answered-mark-forreview{
  display: inline-block;
  background: #7b508d;
  padding: 11px 10px;
  height: 35px;
  width: 35px;
  margin-right: 10px;
  color: $white;
  border-radius: 50%;
  text-align: center;
  line-height: 1;
}
.ped-answered-mark-forreview {
  
  span {
    display: inline-block;
    background: #7b508d;
    padding: 11px 10px;
    height: 35px;
    width: 35px;
    margin-right: 10px;
    color: $white;
    border-radius: 50%;
    text-align: center;
    line-height: 1;
    i {
      position: absolute;
      right: -5px;
      bottom: 2px;
      background: rgba(50, 248, 110, 0.863);
      border-radius: 50%;
      height: 15px;
      width: 15px;
      line-height: 85%;
      text-align: center;
      &::before {
        font-size: 7px;
        margin-left: 1px;
      }
    }
  }
  &.active:not([disabled]):not(.disabled) {
    background: $selected-background;
    border: 1px solid $selected-border;
    box-shadow: none;
    
  }
}
.ped-mark-answered {
  
  span {
    display: inline-block;
    background: url('../../../../../assets/images/answered-q.png') no-repeat top center;
    padding: 11px 10px;
    height: 35px;
    width: 35px;
    margin-right: 10px;
    color: $white;
    text-align: center;
    background-size: 100%;
  }
  &.active:not([disabled]):not(.disabled) {
    background: $selected-background;
    border: 1px solid $selected-border;
    box-shadow: none;
  }
}

.unAnswered{
  display: inline-block;
    background: url('../../../../../assets/images/unanswer-q.png') no-repeat bottom center;
    padding: 11px 10px;
    height: 35px;
    width: 35px;
    margin-right: 10px;
    color: $white;
    text-align: center;
    background-size: 100%;
    line-height: 1;
}
.ped-mark-unanswered {
  
  span {
    display: inline-block;
    background: url('../../../../../assets/images/unanswer-q.png') no-repeat bottom center;
    padding: 11px 10px;
    height: 35px;
    width: 35px;
    margin-right: 10px;
    color: $white;
    text-align: center;
    background-size: 100%;
    line-height: 1;
  }
  &.active:not([disabled]):not(.disabled) {
    background: $selected-background;
    border: 1px solid $selected-border;
    box-shadow: none;
  }
}

.activeQuesion {  
  background: $selected-background;
  border: 1px solid $selected-border;
  box-shadow: none;
}

@media only screen and (max-width: 991px) {
  .ped-mob-sidebar {
    border: 0;
  }
  .ped-mob-timer {
    position: fixed;
    bottom: 0;
    z-index: 99999999;
    left: 50%;
    transform: translate(-50%, -24px);
    background-color: transparent !important;
    border-bottom: 0;
    .time-text {
      display: none;
    }
    h5 {
      font-size: 14px;
    }
  }
  .card-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999;
  }
  .card-body {
    right: 0;
    max-height: 77px;
    overflow-x: scroll;
    position: fixed;
    bottom: 47px;
    left: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid #ddd;
    z-index: 99999;
    padding: 5px !important;
    .filter-div {
      display: none !important;
    }
    .ped-common-marks {
      padding-left: 44px;
    }
    .question-no {
      white-space: nowrap;
      overflow-y: hidden;
      padding-top: 0 !important;
      flex-wrap: nowrap !important;
      span {
        // background-color: transparent;
        color: #fff;
        font-size: 0.81rem;
        margin: .20rem 0rem !important;
        padding: .7rem 1rem !important;
        text-align: center;
      }
    }
  }
}