<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand mr-3" href="#" routerLink="/partner">
      <img src="{{staticContentPath}}/images/logo.svg" height="43" />
    </a>
    <div class="mobile-menu ml-auto mr-2">
      <a href="javascript:void(0);">
        <span class="fa fa-bell mr-2"></span>
      </a>
      <a href="javascript:void(0);" class="shoppingcart-dropdown">
        <span class="fa fa-shopping-cart"></span>
      </a>
      <a href="javascript:void(0);">
        <span ngbDropdown placement="bottom-right">
          <a class="pl-3 pr-0" id="navbarDropdownMenuLink" ngbDropdownToggle aria-haspopup="true" aria-expanded="false">
            <span>
              <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            </span>
          </a>
          <div ngbDropdownMenu class="topbar_dropdown">
            <button class="dropdown-item px-3 py-2 bg-light">
              <div class="d-flex">
                <img src="{{staticContentPath}}/images/profile-default.jpg" class="rounded-circle mr-2" alt="" height="40" width="40">
                <div>
                  <p class="mb-0">{{user.firstname}} {{user.lastname}}</p>
                  <a href="javascript:void(0);">
                    <small>
                      <p class="mb-0">{{'VIEW_PROFILE'| translate}}</p>
                    </small>
                  </a>
                </div>
              </div>
            </button>
            <div class="dropdown-divider m-0"></div>
            <button class="dropdown-item">
              <a href="javascript:void(0);">
                <small>{{'SETTINGS' | translate}}</small>
              </a>
            </button>
            <button class="dropdown-item">
              <a href="javascript:void(0);">
                <small>{{'ACCOUNT_DETAILS' | translate}}</small>
              </a>
            </button>
            <button class="dropdown-item">
              <a href="javascript:void(0);">
                <small>{{'LOGOUT' | translate}}</small>
              </a>
            </button>
          </div>
        </span>
      </a>
    </div>
    <button class="navbar-toggler" (click)="navbarCollapsed = !navbarCollapsed" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <div class="divider"></div>
        <li class="nav-item">
          <a class="nav-link px-3">
            <span class="fa fa-home mr-2"></span>{{'DASHBOARD' | translate}}
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <div class="divider"></div>
        <li class="nav-item">
          <a class="nav-link px-3" [routerLink]="['/partner', 'courses']" routerLinkActive="active">
            <span class="fa fa-graduation-cap mr-2"></span>{{'MY_COURSES' | translate}}
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <div class="divider"></div>
        <li class="nav-item">
          <a class="nav-link px-3" [routerLink]="['/partner', 'library']" routerLinkActive="active">
            <span class="fa fa-book mr-2"></span>{{'MY_LIBRARY' | translate}}
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <div class="divider"></div>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <button class="btn btn-sm btn-dark mt-1 ml-3 mb-2 mr-3" [routerLink]="['/student']">{{'STUDENT' | translate}}</button>
        </li>
        <!-- <li class="nav-item visible_in_mobile">
            <a class="nav-link px-3" href="javascript:void(0);"><span class="fa fa-graduation-cap mr-2"></span>Student</a>
        </li> -->
        <div class="divider"></div>

        <li class="nav-item hide-in-mobile">
          <a class="nav-link pl-3 pr-3" href="javascript:void(0);">
            <span>
              <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
            </span>
          </a>
        </li>
        <div class="divider hide-in-mobile"></div>
        <li class="nav-item hide-in-mobile">
          <a class="nav-link px-3" href="javascript:void(0);">
            <span>
              <i class="fa fa-bell fa-lg" aria-hidden="true"></i>
            </span>
          </a>
        </li>
        <div class="divider hide-in-mobile"></div>
        <li class="nav-item hide-in-mobile" ngbDropdown placement="bottom-right">
          <a href="javascript:void(0);" class="nav-link pl-3 pr-0" id="navbarDropdownMenuLink" ngbDropdownToggle aria-haspopup="true"
            aria-expanded="false">
            <span>
              <i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i>
            </span> {{user.firstname}} {{user.lastname}}
          </a>
          <ul ngbDropdownMenu class="topbar_dropdown">
            <li class="dropdown-header px-3 py-2 bg-light">
              <div class="d-flex ">
                <img src="{{staticContentPath}}/images/profile-default.jpg" class="rounded-circle mr-2" alt="" height="40" width="40">
                <div>
                  <p class="mb-0">{{user.firstname}} {{user.lastname}}</p>
                  <a href="javascript:void(0);">
                    <small>
                      <p class="mb-0">{{'VIEW_PROFILE'| translate}}</p>
                    </small>
                  </a>
                </div>
              </div>
            </li>
            <li class="dropdown-divider m-0"></li>
            <li class="dropdown-item">
              <a href="javascript:void(0);">{{'SETTINGS' | translate}}</a>
            </li>
            <li class="dropdown-item">
              <a href="javascript:void(0);">{{'ACCOUNT_DETAILS' | translate}}</a>
            </li>
            <li class="dropdown-item" (click)="logout()">
              <a href="javascript:void(0);">{{'LOGOUT' | translate}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
