<pdg-topbar></pdg-topbar>
<div class="container bg-white vision">
  <div class="row">
    <div class="carousel-item active">
      <img class="d-block w-100" alt="First slide [800x400]" src="./assets/images/team/Banner01.png" data-holder-rendered="true">
      <div class="carousel-caption d-md-block">
        <h1>Daddy, is muddy water a solution or a mixture?
        </h1>
        <p>Need help answering this question?</p>
        <a href="javascript:void(0)" id="contact-link" class="contact-link" (click)="scrollTo(contactus)">
          <button class="btn btn-dark btn-lg">Contact Us</button>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container bg-white vision">
  <div class="py-2" id="vision"></div>
  <div class="content-body">
    <div class="row justify-content-end">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12  py-3">
        <div class="">
          <h2 class="text-primary">What is Pedagogy?</h2>
        </div>
        <div class="visiontxt">
          <p class="mb-2">
            The word "Pedagogy" means the discipline that deals with the theory and practice of teaching. It is pronounced variously,
            as
            <i>Ped-uh-gaw-G</i>,
            <i>Ped-uh-go-G</i> or
            <i>Ped-uh-gaw-gi</i>.</p>
          <!-- The word "Pedagogy" means the discipline that deals with the theory and practice of teaching. It is pronounced variously,
                as /ˈpɛdəɡɒdʒi/, /ˈpɛdəɡoʊdʒi/, or /ˈpɛdəɡɒɡi/. -->
          <p></p>
          <p class="mb-2">We pronounce it
            <i>Ped-uh-go-G</i>.</p>
          <p class="mb-2">Our vision is to equip students and teachers to achieve their goals through personalized content curation &amp;
            AI.</p>
          <p class="mb-2">If you are curious to know what we are building feel free to reach out to us and we would be excited to have a
            chat with you. We are especially interested in meeting you if you are an author, teacher or a publisher who wants
            to make a difference in today's education landscape.</p>
          <p class="mb-2 ">
            <a class="contact-link text-primary" href="javascript:void(0);" (click)="scrollTo(contactus)">Click here </a>to contact us.</p>
          <!-- <span class="align-top quote-start">
                  <img src="images/left-quote.png" alt="" srcset="">
                </span> -->

          <!-- <span class="align-bottom quote-end">
                  <img src="images/right-quote.png" alt="" srcset="">
                </span> -->
        </div>
      </div>
    </div>
  </div>
  <div class="container bg-white team">
    <div class="py-3" id="team"></div>
    <div class="content-body">
      <div class="row justify-content-end">

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <h2 class="text-primary mb-3">Meet Our Team</h2>
        </div>
      </div>

      <div class="row justify-content-end">
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="card border-0">
            <img src="./assets/images/team/archin.png" class="card-img-top" alt="" srcset="">
            <div class="card-body text-center">
              <p class="team-member-name mb-0">Archin Shah</p>
              <p class="designation text-primary">Founder &amp; COO</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="card border-0">
            <img src="./assets/images/team/abhilash.png" class="card-img-top" alt="" srcset="">
            <div class="card-body text-center">
              <p class="team-member-name mb-0">Abhilash Sonwane</p>
              <p class="designation text-primary">Co-Founder &amp; CEO</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="card border-0">
            <img src="./assets/images/team/ritesh.png" class="card-img-top" alt="" srcset="">
            <div class="card-body text-center">
              <p class="team-member-name mb-0">Ritesh Gandhi</p>
              <p class="designation text-primary">Co-Founder &amp; CTO</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="card border-0">
            <img src="./assets/images/team/kunal.png" class="card-img-top" alt="" srcset="">
            <div class="card-body text-center">
              <p class="team-member-name mb-0">Kunal Soni</p>
              <p class="designation text-primary">Testing &amp; QA</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="card border-0">
            <img src="./assets/images/team/hardip.png" class="card-img-top" alt="" srcset="">
            <div class="card-body text-center">
              <p class="team-member-name mb-0">Hardipsinh Jadeja</p>
              <p class="designation text-primary">Sr. Software Engineer</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="card border-0">
            <img src="./assets/images/team/manan.png" class="card-img-top" alt="" srcset="">
            <div class="card-body text-center">
              <p class="team-member-name mb-0">Manan Shah</p>
              <p class="designation text-primary">Sr. Software Engineer</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="card border-0">
            <img src="./assets/images/team/ishan.png" class="card-img-top" alt="" srcset="">
            <div class="card-body text-center">
              <p class="team-member-name mb-0">Ishan Joshi</p>
              <p class="designation text-primary">Product Manager</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="card border-0">
            <img src="./assets/images/team/ketan.png" class="card-img-top" alt="" srcset="">
            <div class="card-body text-center">
              <p class="team-member-name mb-0">Ketan Patel</p>
              <p class="designation text-primary">Sr. Software Engineer</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-start">
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="card border-0">
            <img src="./assets/images/team/joel.png" class="card-img-top" alt="" srcset="">
            <div class="card-body text-center">
              <p class="team-member-name mb-0">Joel Kurian</p>
              <p class="designation text-primary">Sr. Software Engineer</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="card border-0">
            <img src="./assets/images/team/deepak-new.png" class="card-img-top" alt="" srcset="">
            <div class="card-body text-center">
              <p class="team-member-name mb-0">Deepak Datwani</p>
              <p class="designation text-primary">HTML Developer</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 mr-auto">
          <div class="card border-0">
            <img src="./assets/images/team/atit-new.png" class="card-img-top" alt="" srcset="">
            <div class="card-body text-center">
              <p class="team-member-name mb-0">Atit Shah</p>
              <p class="designation text-primary">Sr. Software Engineer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container bg-white joinus" #contactus>
  <div class="py-3" id="joinus"></div>
  <div class="content-body pl-0">
    <div class="row justify-content-end joinus-row">
      <div class="col-xl-2 col-lg-2 col-sm-2 px-0 my-auto">
        <img src="./assets/images/team/team-icon.png" alt="" srcset="" class="joinus-sample-img">
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-10 joinus-content">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 joinus-heading">
            <h2 class="text-primary mb-3">Be Part of Our Team</h2>
          </div>
        </div>
        <div class="recruitment py-3">
          <h4>Angular 2 Developer</h4>
          <p class="mb-0">Keyskills: Angular 2+, Bootstrap, Sass, Html5, Design Patterns,&nbsp; Web Designing</p>
          <!-- <p class="mb-0">Role: Angular 2 Developer</p> -->
        </div>
        <div class="recruitment py-3">
          <h4>Data Scientist</h4>
          <p class="mb-0">Keyskills: Tensorflow, Caffe, Theano, Machine Learning APIs, frameworks, and AI tools, No-SQL and relational databases
          </p>
          <!-- <p class="mb-0">Role: Data Scientist</p> -->
        </div>
        <div class="recruitment py-3">
          <h4>Creative Designer</h4>
          <p class="mb-0">Keyskills: Photoshop, Illustrator, Graphic Designing, HTML, Web Technologies, Printing, Typography, Brochures
          </p>
          <!-- <p class="mb-0">Role: Creative Designer</p> -->
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-10 joinus-content">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 joinus-heading">
            <h2 class="text-primary mb-3">Contact Us</h2>
          </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 address-col px-0">
          <p class="address">B-4, Himmatlal Park, Satellite, Ahmedabad,
            <br/> Gujarat 380015 India.</p>
          <P class="address email">
            <label>Email: </label>info@pedagogy.study
            <br/>
            <label>Phone No.: </label>+91-9638266566
          </P>
          <!-- <img src="images/contct.png" alt="" class="img-fluid contact-sample-img"> -->
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-sm-2 px-0 my-auto text-right d-none d-sm-block">
        <img src="./assets/images/team/contact.png" alt="" srcset="" class="joinus-sample-img">
      </div>
    </div>
  </div>
</div>
<pdg-footer></pdg-footer>