<div class="jumbotron jumbotron-fluid" *ngIf="!isTokenValid; else reset_password_template">
  <div class="container text-center">
    <h4>This link has expired or already been used.</h4>
    <a href="javascript:void(0);" [routerLink]="['/login']">Click here to go to login page</a>
  </div>
</div>
<ng-template #reset_password_template>
  <div class="container">
    <div class="row ">
      <div class="col-xl-4 col-lg-5 col-md-10 col-sm-12  m-sm-auto">
        <div class="card mt-5">
          <div class="card-body">
            <div class="text-center logo">
              <img src="{{staticContentPath}}/images/logo.png" height="70" alt="" srcset="">
            </div>
            <div class="title text-center mt-4 mb-3">
              <h3>{{'SET_PASSWORD' | translate}}</h3>
            </div>
            <div class="form-part mt-1">
              <form (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm" id="resetPasswordForm">
                <div class="form-group mb-4 pb-2">
                  <input type="text" id="email" class="form-control" placeholder="{{this.email}}" disabled>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error':!resetPasswordForm.controls['confirmPassword'].valid && resetPasswordForm.controls[ 'confirmPassword'].dirty} ">
                  <input type="password" id="password" class="form-control" value="" formControlName="password" placeholder="{{'ResetPassword.PH.Password' | translate}}"
                    placement="right" ngbTooltip="{{ 'ResetPassword.HelpText.Password' | translate}}" container="body">
                  <div [class.invisible]="!(resetPasswordForm.controls['password'].hasError('pattern') &&
                                      resetPasswordForm.controls['password'].dirty)" class="field-error ">{{'ResetPassword.Error.PasswordPattern' | translate}}</div>
                </div>
                <div class="form-group ">
                  <input type="password" id="confirmPassword" name="uname " value="" class="form-control " placeholder="{{ 'ResetPassword.PH.ConfirmPassword' | translate}}"
                    formControlName="confirmPassword">
                  <div [class.invisible]="!(resetPasswordForm.controls[ 'confirmPassword'].hasError('matchPassword') && resetPasswordForm.controls[ 'confirmPassword'].dirty) "
                    class="field-error ">{{'ResetPassword.Error.MatchPassword' | translate}}</div>
                </div>
                <button class="btn btn-dark btn-block " [disabled]="!resetPasswordForm.valid ">{{'SUBMIT' | translate}}</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
