<div class="ped-footer">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-8 ped-footer-links col-sm-12">
        <span>&copy; 2018 Pedagogy</span>
        <ul>
          <li><a href="javascript:void(0)" routerLink="/about-us">About Us</a></li>
          <li><a href="javascript:void(0)" routerLink="/privacy-policy">Privacy Policy</a></li>
          <li><a href="javascript:void(0)" routerLink="/terms-and-conditions">Terms &amp; Conditions</a></li>
          <li><a href="javascript:void(0)" routerLink="/about-us/contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-4 ped-follow-social col-sm-12">
        <ul>
          <li><span>Follow Us</span></li>
          <li>
            <a href="https://www.linkedin.com/company/pedagogy" target="_blank">
              <span class="fa fa-linkedin l-in text-white rounded-circle"> </span>
            </a>
          </li>
          <li>
              <a href="https://www.facebook.com/pedagogy.study/" target="_blank">
                <span class="fa fa-facebook fb text-white rounded-circle"> </span>
              </a>
          </li>
          <li>
            <a href="https://twitter.com/pedagogy_study" target="_blank">
              <span class="fa fa-twitter twit text-white rounded-circle"> </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>