<div class="d-flex justify-content-start page-headingdark mb-3 py-2 bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12 d-flex">
        <h5 class="mb-0 text-light align-self-center">{{'MY_COURSES' | translate}}</h5>
      </div>
      <div class="col-sm-6 col-xs-12 d-flex">
        <!-- <div ngbDropdown class="d-inline-block ">
          <button class="btn btn-link text-white" id="dropdownBasic1" ngbDropdownToggle><span class="fa fa-filter"></span><span class="text-white">Filter</span> </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item">Action - 1</button>
            <button class="dropdown-item">Something else is here</button>
          </div>
        </div> -->


        <ol class=" ml-auto breadcrumb p-0 mb-0">
          <li class="breadcrumb-item"><a href="#">{{'HOME' | translate}}</a></li>
          <li class="breadcrumb-item"><a href="#">{{'COURSE' | translate}}</a></li>
          <li class="breadcrumb-item active">{{'MY_COURSES' | translate}}</li>
        </ol>

        <!-- Mylibrary Study Meterial  start-->
        <!-- <div class="ml-auto mylibs-heading">
         <p class="mb-0 text-white"><a href="javascript:void(0);">Study Meterial</a> |
            <a href="javascript:void(0);">Question</a></p>
        </div> -->
        <!-- Mylibrary Study Meterial   end-->


        <!-- create course screnn page-heading right option   start-->
        <!-- <div class="ml-auto d-flex">
          <div class="ml-auto form-group mb-0">
            <div class="icon-addon addon-md">
              <input type="text" placeholder="Email" class="form-control form-control-sm" id="email">
              <label for="email" class="fa fa-search mb-0 py-0" rel="tooltip" title="email"></label>
            </div>
          </div>

          <div class="show filter align-self-center" ngbDropdown placement="bottom-right">
            <a href="javascript:void(0);" ngbDropdownToggle role="button" id="dropdownMenuLink" class="ml-2 filter-link" aria-haspopup="true" aria-expanded="false">Filter
            <span class="ml-3"><i class="fa fa-sliders" aria-hidden="true"></i></span>
            </a>
            <ul ngbDropdownMenu aria-labelledby="dropdownMenuLink">
              <li class="dropdown-item"><a href="#">Course</a></li>
              <li class="dropdown-item"><a href="#">Subject</a></li>
            </ul>
          </div>
        </div> -->
        <!-- create course screnn page-heading right option   end-->
      </div>
    </div>
  </div>
</div>
