<div class="modal-header">
  <h4 class="modal-title">Change Password</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12  m-sm-auto">
    <div class="">
      <div class="card-body">
        <div class="text-center logo">
          <img src="{{staticContentPath}}/images/logo.png" height="70" alt="" srcset="">
        </div>
        <div class="title text-center mt-4 mb-3">
          <h3>{{'CHANGE_PASSWORD' | translate}}</h3>
        </div>
        <div class="form-part mt-1">
          <form (ngSubmit)="changePassword()" [formGroup]="changePasswordForm" id="changePasswordForm">
            <div class="form-group mb-4 pb-2">
              <input type="password" formControlName="oldPassword" class="form-control" placeholder="Old Password" />
            </div>
            <div class="form-group" [ngClass]="{ 'has-error':!changePasswordForm.controls['confirmPassword'].valid && changePasswordForm.controls[ 'confirmPassword'].dirty} ">
              <input type="password" id="password" class="form-control" value="" formControlName="password" placeholder="{{'ResetPassword.PH.Password' | translate}}"
                placement="right" ngbTooltip="{{ 'ResetPassword.HelpText.Password' | translate}}" container="body">
              <div [class.invisible]="!(changePasswordForm.controls['password'].hasError('pattern') &&
                                  changePasswordForm.controls['password'].dirty)" class="field-error ">{{'ResetPassword.Error.PasswordPattern' | translate}}</div>
            </div>
            <div class="form-group ">
              <input type="password" id="confirmPassword" name="uname " value="" class="form-control " placeholder="{{ 'ResetPassword.PH.ConfirmPassword' | translate}}"
                formControlName="confirmPassword">
              <div [class.invisible]="!(changePasswordForm.controls[ 'confirmPassword'].hasError('matchPassword') && changePasswordForm.controls[ 'confirmPassword'].dirty) "
                class="field-error ">{{'ResetPassword.Error.MatchPassword' | translate}}</div>
            </div>
            <button class="btn btn-dark btn-block " [disabled]="!changePasswordForm.valid || isSubmitBtnDisable">{{'SUBMIT' | translate}}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div> -->