<div class="modal-header">
  <h4 class="modal-title">{{'FORGOT_PASSWORD' | translate}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<form (ngSubmit)="forgotPassword()" [formGroup]="forgotPasswordForm" id="forgotPasswordForm">
  <div class="modal-body">
    <div class="form-group">
      <input type="email" id="email" name="email" class="form-control" placeholder="{{'EMAIL' | translate}}" formControlName="email">
      <p [class.invisible]="!forgotPasswordForm.controls['email'].hasError('pattern')" class="field-error">{{'ERROR.INVALID_EMAIL' | translate}}</p>
    </div>
  </div>
  <div class="modal-footer bg-dark">
    <button type="submit" class="btn btn-primary btn-sm" [disabled]="!forgotPasswordForm.valid">{{'SUBMIT' | translate}}</button>
    <button type="button" class="btn btn-outline-primary btn-sm" (click)="activeModal.close('Close click')">{{'CANCEL' | translate}}</button>
  </div>
</form>
