<pdg-topbar></pdg-topbar>
<div class="content-part">
  <div class="container bg-white terms-conditions-list">
    <div class="row p-2 pt-lg-5">
      <div class="col-sm-12">
        <h5 class="text-center">Terms &amp; Conditions</h5>
      </div>
    </div>
    <div class="row p-4">
      <div class="col-sm-12 terms-list">
        <ol class="font-weight-bold">
          <li class="">
            <p class="font-weight-normal">
              This agreement (the "Agreement") is a binding agreement between the individual or the entity identified in your Pedagogy
              account ("you" or "Publisher") and WeColab Edusystem Private Limited (“Pedagogy” or “We” or “Us”).
            </p>
          </li>
          <li class="">
            <div>
              INTRODUCTION
              <ol>
                <li class="  font-weight-normal">
                  This Agreement provides the terms and conditions of provision of Services by Pedagogy for Your Content on Pedagogy Website
                  through its interactive platform (the "Program") and your distribution of digital content through
                  the Program (all such content will be referred to as "Digital Books").
                </li>
                <li class="  font-weight-normal">
                  By downloading or otherwise accessing the Website, or by submitting or displaying Your Content on the Website, you agree
                  to be bound by the following terms and conditions (“Terms“). If you have any queries about the Website
                  or these Terms, you can contact us by any of the means set out in paragraph 17 of these Terms. If
                  you do not agree with these Terms, you should stop using the Website immediately.
                </li>
              </ol>
            </div>

          </li>
          <li class="">
            <div>
              <p class="mb-1">DEFINITIONS:</p>
              <ol>
                <li class="font-weight-normal ">
                  “Content” means any content belonging to any of Pedagogy’s user that is displayed on its Website;
                </li>
                <li class="font-weight-normal ">
                  “Your content” means all the content that you upload, share or transmit to or through Pedagogy Website, as a part of your
                  Digital Book or otherwise;
                </li>
                <li class="font-weight-normal ">
                  “Website” or “Pedagogy Website” means the website owned by Pedagogy, more particularly – www.pedagogy.study ;
                </li>
                <li class="font-weight-normal ">
                  “Services” means the service of hosting and distribution of your Digital Books by Pedagogy on its Website that provides to
                  the end user various features and facilities, including but not limited to highlight, annotation,
                  taking notes, etc.
                </li>
              </ol>
            </div>
          </li>
          <li class="">
            <div>
              DIGITAL BOOK DISTRIBUTION RIGHTS:
              <ol class="font-weight-bold">
                <li class="">
                  <div>
                    Delivery, Acceptance and Withdrawal.
                    <ol class="font-weight-normal">
                      <li class="">
                        <div>
                          Delivery:
                          <ol>
                            <li class="">
                              You must provide to us, at your own expense each Digital Book you desire to distribute through the Program.
                            </li>
                            <li class=""> We will not return to you any electronic files or physical content or media you deliver
                              to us in connection with the Program. </li>
                            <li class="">
                              You must deliver all electronic files free and clear of viruses, worms and other potentially harmful or disrupting code.
                            </li>
                          </ol>
                        </div>
                      </li>
                      <li class="">
                        <div>
                          Content Requirements:
                          <ol>
                            <li class="">
                              You must ensure that all Digital Book content is in compliance with our terms and conditions for content at the time you
                              submit it to us. If you discover that content you have submitted does not comply, you
                              must immediately withdraw the content.
                            </li>
                            <li class="">
                              We are entitled to remove or modify the metadata and product description you provide for your Digital Books for any reason,
                              including if we determine that it does not comply with our content requirements.
                            </li>
                            <li class="">
                              We may also remove all or any part of your Digital Book’s cover art for any reason, including if we determine that it does
                              not comply with our content requirements.
                            </li>
                            <li class="">
                              You may not include in any Digital Book any advertisements or other content that is primarily intended to advertise or promote
                              products or services.
                            </li>
                            <li class="">
                              You must ensure that all metadata you provide to us is current, complete, and accurate. If you discover that any metadata
                              you have provided to us for a Digital Book is inaccurate or incomplete, you must promptly
                              submit corrected metadata to us.
                            </li>
                          </ol>
                        </div>
                      </li>
                    </ol>
                  </div>
                </li>
                <li class="">
                  <div>
                    Digital Book Rejection:
                    <ol class="font-weight-normal">
                      <li class="">
                        We are entitled to determine what content we accept and distribute through the Program in our sole discretion.
                      </li>
                      <li class="">
                        If we request that you provide additional information relating to your Digital Books, such as information confirming that
                        you have all rights required to permit our distribution of the Digital Books, you will promptly
                        provide the information requested, and you represent and warrant that any information and documentation
                        you provide to us in response to such a request will be current, complete, and accurate.
                      </li>
                      <li class="">
                        You authorize us, directly or through third parties, to make any inquiries we consider appropriate to verify your rights
                        to permit our distribution of the Digital Books and the accuracy of the information or documentation
                        you provide to us with respect to those rights.
                      </li>
                    </ol>
                  </div>
                </li>
                <li class="">
                  <div>
                    Reformatting:
                    <ol class="font-weight-normal">
                      <li class="">We may, in our discretion, reformat your Digital Books, and you acknowledge that unintentional
                        errors may occur in the process of reformatting of your Digital Books. If any such errors do
                        occur, you may bring such error to our notice for us to correct the same, and this will be
                        your only remedy for the errors. </li>
                      <li class="">
                        We may also, in our discretion, correct any errors existing in a Digital Book file as you deliver it to us.
                      </li>
                    </ol>
                  </div>
                </li>
                <li class="">
                  <div>
                    Digital Book Withdrawal:
                    <ol class="font-weight-normal">
                      <li class="">If the Digital Book or Your Content is in any way in breach of the terms of this Agreement, we
                        reserve the right to immediately withdraw your Digital Books from further sale in the Program.</li>
                      <li class="">We may, at our sole discretion, remove Your Content from the Pedagogy Website by providing a
                        30 days prior written notice.</li>
                    </ol>
                  </div>
                </li>
              </ol>
            </div>
          </li>
          <li class="">
            <div>
              GRANT OF RIGHTS:
              <ol class="font-weight-normal">
                <li class="">
                  You grant to Pedagogy, throughout the term of this Agreement, a non-exclusive, irrevocable, right and license to distribute
                  Digital Books, in all digital formats by all digital distribution means available.
                </li>
                <li class="">
                  <div>
                    This right includes, without limitation, the right to:
                    <ol>
                      <li class="">
                        reproduce, index and store Digital Books on one or more computer facilities, and reformat, convert and encode Digital Books;
                      </li>
                      <li class="">
                        display, market, transmit, distribute, sell and otherwise digitally make available all or any portion of Digital Books through
                        our Website, for customers and prospective customers to download, access, copy and paste, print,
                        highlight, annotate and/or view online and offine, including on portable devices; </li>
                      <li class="">
                        permit customers to "store" Digital Books that they have purchased from us on servers ("Virtual Storage") and to access and
                        re-download such Digital Books from Virtual Storage from time to time both during and after
                        the term of this Agreement; </li>
                      <li class="">
                        <div>
                          display and distribute,
                          <ol>
                            <li class="">your trademarks and logos in the form you provide them to us or within Digital Books (with
                              such modifications as are necessary to optimize their viewing), and</li>
                            <li class="">portions of Digital Books, in each case solely for the purposes of marketing, soliciting
                              and selling Digital Books and related Pedagogy offerings; and</li>
                          </ol>
                        </div>
                      </li>
                      <li class="">
                        use, reproduce, adapt, modify, and distribute, as we determine appropriate, in our sole discretion, any metadata that you
                        provide in connection with Digital Books;
                      </li>
                    </ol>
                  </div>
                </li>
                <li class="">
                  You grant us the rights set forth in this
                  <span class="font-weight-bold mx-1"> Section 5.2 </span> on a worldwide basis.
                </li>
              </ol>
            </div>
          </li>
          <li class="">
            <div>
              CONSIDERATION:
              <ol class="font-weight-normal">
                <li class="">
                  The consideration towards the Services provided by Pedagogy to you as well as the payment terms for the same shall be detailed
                  in Annexure-I hereto.
                </li>
                <li class="">
                  The payments to be made to you shall be subject to deduction of tax at source in accordance with the provisions of the Income
                  Tax Act, 1961, if applicable and any other deductions as may be applicable under any other law from
                  time to time.
                </li>
              </ol>
            </div>
          </li>
          <li class="">
            <div>
              TERM AND TERMINATION:
              <ol class="font-weight-normal">
                <li class="">
                  The term of this Agreement will begin upon your acceptance of it and will continue until it is terminated by us or by you.
                </li>
                <li class="">
                  We are entitled to terminate this Agreement and your access to your Program account at any time. We will notify you upon
                  termination.
                </li>
                <li class="">
                  You are entitled to terminate at any time by providing us notice of termination, in which event we will cease selling your
                  Digital Books within 30 business days from the date you provide us notice of termination.
                </li>
                <li class="">
                  We may also suspend your Program account at any time with or without notice to you, for any reason in our discretion.
                </li>
                <li class="">
                  Following termination or suspension, we may fulfill any customer orders for your Digital Books pending as of the date of
                  termination or suspension, and we may continue to maintain digital copies of your Digital Books in
                  order to provide continuing access to or re-downloads of your Digital Books or otherwise support
                  customers who have purchased a Digital Book prior to termination or suspension.
                </li>
              </ol>
            </div>
          </li>
          <li class="">
            <div>
              REPRESENTATIONS, WARRANTIES AND INDEMNITIES:
              <ol class="font-weight-normal">
                <li class="">
                  <div>You represent and warrant that,
                    <ol>
                      <li class="">
                        You have the full right, power and authority to enter into and fully perform this Agreement and will comply with the terms
                        of this Agreement;
                      </li>
                      <li class="">
                        Prior to you or your designee's delivery of any content, you will have obtained all rights that are necessary for the exercise
                        the rights granted under this Agreement;
                      </li>
                      <li class="">
                        Your Content shall be in a consumable form. They shall not contain any content that is obscene or
                      </li>
                      <li class="">
                        Neither the exercise of the rights authorized under this Agreement nor any materials embodied in the Digital Books nor its
                        sale or distribution as authorized in this Agreement will violate or infringe upon the intellectual
                        property, proprietary or other rights of any person or entity, including, without limitation,
                        contractual rights, copyrights, trademarks, common law rights, rights of publicity, or privacy,
                        or moral rights, or contain defamatory material or violate any laws or regulations of any jurisdiction;
                      </li>
                      <li class="">
                        Your Content/ Digital Books that you submit to Pedagogy will not contain third party copyrighted material, or material that
                        is subject to other third party proprietary rights, unless you have permission from the rightful
                        owner of the material or you are otherwise legally entitled to post the material and to grant
                        Pedagogy all of the license rights granted herein;
                      </li>
                      <li class="">
                        You’re responsible for the content you post, you assume all risks related to it, including someone else’s reliance on its
                        accuracy, or claims relating to intellectual property or other legal rights; and
                      </li>
                      <li class="">
                        You will ensure that all Digital Books delivered under the Program comply with the technical delivery specifications provided
                        by us.
                      </li>
                    </ol>
                  </div>
                </li>
                <li class="">
                  <div>To the fullest extent permitted by applicable law, you will indemnify, defend and hold Pedagogy,
                    its officers, directors, employees, affiliates, subcontractors and assigns harmless from and against
                    any loss, claim, liability, damage, action or cause of action (including reasonable attorneys'
                    fees) that arises from
                    <ol>
                      <li class="">
                        your use of and access to the Website;
                      </li>
                      <li class="">
                        your violation of any term of these Terms of Service;
                      </li>
                      <li class="">
                        your violation of any third party right, including without limitation any copyright, property, or privacy right; or
                      </li>
                      <li class="">
                        any claim that Your Content caused damage to a third party.
                      </li>
                    </ol>
                    <p class="mb-0">This defense and indemnification obligation will survive these Terms of Service and your use of
                      the Website, any breach of your representations, warranties or obligations set forth in this
                      Agreement. We will be entitled, at our expense, to participate in the defense and settlement
                      of the claim or action with counsel of our own choosing.</p>
                  </div>
                </li>
              </ol>
            </div>
          </li>
          <li class="">
            <div>
              GENERAL RULES RELATING TO CONDUCT:
              <ol class="font-weight-normal">
                <li class="">
                  You shall not use the Services for any illegal purpose or in any manner inconsistent with these Terms.
                </li>
                <li class="">
                  When you use the Website you must comply with all applicable laws of India and with any applicable international laws (together
                  referred to as “Applicable Laws”).
                </li>
                <li class="">
                  <div>
                    You agree that when using the Website, you will comply with all Applicable Laws and these Terms. In particular, but without
                    limitation, you agree not to:
                    <ol>
                      <li class="">
                        Use the Website in any unlawful manner or in a manner which promotes or encourages illegal activity including (without limitation)
                        copyright infringement; or
                      </li>
                      <li class="">
                        Attempt to gain unauthorised access to the Website or any networks, servers or computer systems connected to the Website;
                        or
                      </li>
                      <li class="">
                        Modify, adapt, translate, disassemble, decompile, reverse engineer or store any part of the Website, or re-format or frame
                        any portion of the pages comprising the Website, save to the extent expressly permitted by
                        these Terms or by law.
                      </li>
                      <li class="">
                        License, sublicense, transfer, sell, resell, publish and/ or reproduce any component of the Website in any manner (including,
                        but not limited to, via or as part of any Internet site or mobile application);
                      </li>
                      <li class="">
                        Use or attempt to use any "deep-link," "scraper," "robot," "bot," "spider," "data mining," "computer code" or any other automated
                        device, program, tool, algorithm, process or methodology or manual process having similar processes
                        or functionality, to access, acquire, copy, or monitor any portion of the Website or any data
                        or content found on or accessed through the Website without prior express written consent of
                        Pedagogy. Any collection of any content using these methods is a violation of these Terms of
                        Service;
                      </li>
                      <li class="">
                        Obtain or attempt to obtain, make available or attempt to make available to others, through any means, any data, information
                        or reports on the Website that have not been intentionally made publicly available;
                      </li>
                      <li class="">
                        In any way bypass or circumvent any other measure employed to limit or prevent access to the Website or its Content;
                      </li>
                      <li class="">
                        Violate the security of the Website, or attempt to gain unauthorized access to the Website, data, materials, information,
                        computer systems or networks connected to any server associated with Website, through hacking,
                        password mining or any other means;
                      </li>
                      <li class="">
                        Interfere or attempt to interfere with the proper working of, the Website or any activities conducted on or through the Website,
                        including accessing any data, content or other information prior to the time that it is intended
                        to be available to the public;
                      </li>
                      <li class="">
                        Take or attempt any action that, in the sole discretion of Pedagogy, imposes or may impose an unreasonable or disproportionately
                        large load or burden on the Website or such operation's infrastructure;
                      </li>
                      <li class="">
                        Use or attempt to use another’s account, service or system without authorization from Pedagogy, or create a false identity
                        on the Website.
                      </li>
                      <li class="">
                        Any other action that may damage, disable, overburden, impair or be detrimental to the interest or the image of Pedagogy.
                      </li>
                    </ol>
                  </div>
                </li>
                <li class="">
                  The User is strictly prohibited from allowing any unauthorized personnel to use the Services by impersonation or otherwise.
                </li>
                <li class="">
                  By using our Website, you authorize Pedagogy to access third party sites, including that of Banks and other payment gateways
                  for retrieving requested information.
                </li>
                <li class="">
                  While registering, you will choose a password and are responsible for maintaining the confidentiality of the password and
                  the account.
                </li>
                <li class="">
                  You understand that you are fully responsible for all activities that occur while using your password or account. It is your
                  duty to notify Pedagogy immediately in writing of any unauthorized use of your password or account
                  or any other breach of security. We will not be liable for any loss that may be incurred by you as
                  a result of unauthorized use of your password or account, either with or without your knowledge.
                  You shall not use anyone else's password at any time.
                </li>

              </ol>
            </div>
          </li>
          <li class="">
            <div>
              INTELLECTUAL PROPERTY RIGHTS AND CONTENT:
              <ol class="font-weight-normal">
                <li class="">
                  We are the sole and exclusive intellectual property owners of the Services and our Website. We also exclusively own the copyrights,
                  trademarks, service marks, logos, trade names and other intellectual and proprietary rights associated
                  with the Website and the Services. All rights are reserved.
                </li>
                <li class="">
                  You acknowledge that the Services contain original works and have been developed, compiled, prepared, revised, selected,
                  and arranged by us and others through the application of methods and standards of judgment developed
                  and applied through the expenditure of substantial time, effort, and money and constitutes valuable
                  intellectual property of Pedagogy.
                </li>
                <li class="">
                  You cannot copy, edit, vary, reproduce, publish, display, distribute, store, transmit, disseminate in any form whatsoever
                  the Website or any part thereof without Pedagogy’s express written permission.
                </li>
                <li class="">
                  You further acknowledge that the Services may contain information which is confidential and that you shall not disclose such
                  information without Pedagogy's prior written consent.
                </li>
                <li class="">
                  Except as otherwise expressly granted to you in writing, we do not grant you any other express or implied right or license
                  to the Services, or our Intellectual Property Rights.
                </li>
                <li class="">
                  Save except the rights granted by you to Pedagogy under this Agreement, you retain all of the intellectual property rights
                  in Your Content.
                </li>
              </ol>
            </div>
          </li>
          <li class="">
            <div>
              DISCLAIMER / LIABILITY:
              <ol class="font-weight-normal">
                <li class="">
                  <div>
                    USE OF THE WEBSITE IS AT YOUR OWN RISK. THE WEBSITE AND ITS SERVICES ARE PROVIDED ON AN “AS IS” BASIS. TO THE MAXIMUM EXTENT
                    PERMITTED BY LAW:
                    <ol>
                      <li class="">
                        PEDAGOGY DISCLAIMS ALL LIABILITY WHATSOEVER, WHETHER ARISING IN CONTRACT, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE IN RELATION
                        TO THE WEBSITE AND ITS SERVICES; AND
                      </li>
                      <li class="">
                        ALL IMPLIED WARRANTIES, TERMS AND CONDITIONS RELATING TO THE WEBSITE OR THE SERVICES (WHETHER IMPLIED BY STATUE, COMMON LAW
                        OR OTHERWISE), INCLUDING (WITHOUT LIMITATION) ANY WARRANTY, TERM OR CONDITION AS TO ACCURACY,
                        ADEQUACY, RELIABILITY, COMPLETENESS, SATISFACTORY QUALITY, PERFORMANCE, FITNESS FOR PURPOSE
                        OR ANY SPECIAL PURPOSE, TIMLINESS, CURRENTNESS, AVAILABILITY, NON INFRINGEMENT, AS BETWEEN
                        PEDAGOGY AND YOU, ARE HEREBY EXCLUDED.
                      </li>
                      <li class="">
                        IN PARTICULAR, BUT WITHOUT PREJUDICE TO THE FOREGOING, PEDAGOGY SHALL NOT BE LIABLE TO YOU OR ANYONE ELSE FOR ANY FAILURE
                        OF PERFORMANCE, INACCURACY, DELAY IN OPERATION OR TRANSMISSION, INTERRUPTION IN SERVICE, ERROR
                        OR OMISSION, DELETION, DEFECT, COMPUTER VIRUS, COMMUNICATIONS LINE FAILURE, THEFT OR UNAUTHORIZED
                        ACCESS TO, ALTERATION OF INFORMATION, REGARDLESS OF CAUSE, OR FOR ANY DAMAGES RESULTING THEREFROM.
                      </li>
                      <li class="">
                        IN NO EVENT WILL PEDAGOGY OR ANY OF THEIR THIRD PARTY LICENSORS BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL OR CONSEQUENTIAL
                        DAMAGES, INCLUDING BUT NOT LIMITED TO, DAMAGE TO YOUR COMPUTER SYSTEM OR DAMAGES OF LOST TIME,
                        LOST MONEY, LOST PROFITS OR GOOD WILL, WHETHER IN CONTRACT, TORT, STRICT LIABILITY OR OTHERWISE,
                        AND WHETHER OR NOT SUCH DAMAGES ARE FORESEEN OR UNFORESEEN WITH RESPECT TO ANY USE OF THE WEBSITE.
                      </li>
                      <li class="">
                        PEDAGOGY WILL NOT BE LIABLE TO YOU OR ANYONE ELSE FOR ANY LOSS OR INJURY RESULTING FROM USE OF THE WEBSITE, IN WHOLE OR PART,
                        WHETHER CAUSED BY NEGLIGENCE, CONTINGENCIES BEYOND ITS CONTROL IN PROCURING, COMPILING, INTERPRETING,
                        REPORTING OR DELIVERING THE SERVICES, THE WEBSITE OR OTHERWISE.
                      </li>
                      <li class="">
                        IN NO EVENT WILL PEDAGOGY, ITS AFFILIATES, AGENTS OR LICENSORS BE LIABLE TO YOU OR ANYONE ELSE FOR ANY DECISION MADE OR ACTION
                        TAKEN BY YOU IN RELIANCE ON SUCH SERVICES OR THE WEBSITE.
                      </li>
                    </ol>
                  </div>
                </li>
                <li class="">
                  Pedagogy explicitly abstains from undertaking any responsibility or liability for any delays, omissions or inaccuracies in
                  the Services provided through its Website.
                </li>
                <li class="">
                  Where appropriate, we may in our sole discretion and without any obligation, verify any updates, modifications, or changes
                  to our Website or any content accessible on the Services but shall not be liable for any delay or
                  inaccuracies related to such updates.
                </li>
                <li class="">
                  Pedagogy may, without any prior intimation, discontinue or change the Website or Services, or their availability, to you,
                  at any time.
                </li>
                <li class="">
                  Pedagogy is not under any obligation to update the Content following its publication on the Website.
                </li>
                <li class="">
                  IF PEDAGOGY IS LIABLE TO YOU DIRECTLY OR INDIRECTLY IN RELATION TO THE WEBSITE, THAT LIABILITY (HOWSOEVER ARISING) SHALL
                  BE LIMITED TO THE SUMS PAID BY YOU FOR THE SERVICES RENDERED UNDER THIS AGREEMENT.
                </li>
              </ol>
            </div>
          </li>
          <li class="">
            <div>
              SERVICE SUSPENSION:
              <ol class="font-weight-normal">
                <li class="">
                  Pedagogy reserves the right to discontinue or change the Website and the Services, or their availability to you, at any time,
                  with or without notice, and shall have no liability or responsibility to you in any manner whatsoever.</li>
                <li class="">
                  Pedagogy reserves its full right to decline registration of any person for all or any of its Services.
                </li>
                <li class="">
                  Pedagogy reserves its right to discontinue any services or features of any service to any person, without assigning any reason.
                </li>
              </ol>
            </div>
          </li>
          <li class="">
            <div>
              NON-COMPETE:
              <p class="font-weight-normal">
                You will not during the term of this Agreement, and for a period of twenty four (24) months after termination of this Agreement,
                directly or indirectly, either as a company or through any of its directors, promoters or employees,
                as individuals on their own account or as a partner, employee, consultant, advisor, agent, contractor,
                director, trustee, committee member, office bearer, or shareholder (or in a similar capacity or function)
                render any other services, which competes with the business of Pedagogy, unless you have obtained the
                previous written consent of Pedagogy.
              </p>
            </div>
          </li>
          <li class="">
            <div>
              NON-SOLICITATION:
              <p class="font-weight-normal">
                You agree that you will not recruit or hire, directly or indirectly, any of Pedagogy’s existing employees or any person who
                was employed by Pedagogy within one (1) year prior to such solicitation, during the term of this Agreement
                and for twenty four (24) months after termination of this Agreement without the Pedagogy’s express
                written consent.
              </p>
            </div>
          </li>
          <li class="">
            <div>
              FORCE MAJEURE:
              <p class="font-weight-normal">
                Neither Party shall be liable or responsible for any failure to perform or delay in performance of their respective obligations
                hereunder if such failure or delay is due or attributable to or arises out of any Force Majeure event,
                provided written notice of occurrence of any Force Majeure event is given by the affected Party to
                the other Party within a period of 15 (fifteen) days of such occurrence and such notice includes reasonably
                satisfactory evidence of the Force Majeure event. Should the event of Force Majeure continue for an
                uninterrupted period of 90 (ninety) days or more, then the Parties shall mutually assess the circumstances
                and shall have the right to mutually terminate this Agreement if the Force Majeure event subsists.
                “Force Majeure” means an event that is not within the reasonable control of the Party by which the
                performance under this Agreement is affected and shall include any of the following events: acts of
                war, acts of God, earthquake, flood, riot, embargo, sabotage, governmental act, unavailability of data
                from MCA website, unavailability of any communication system, computer hacking, unauthorized access
                to computer data and storage devices, computer crashes, etc.
              </p>
            </div>
          </li>
          <li class="">
            <div>
              GENERAL:
              <ol class="font-weight-normal">
                <li class="">
                  Both the parties hereto shall be independent contractors. No party shall be considered an agent of the other party.
                </li>
                <li class="">
                  These Terms (as amended from time to time) constitute the entire agreement between you and Pedagogy concerning your use of
                  the Website or its Services.
                </li>
                <li class="">
                  Pedagogy reserves the right, at any time, to add to, change, update, or modify these Terms of Service, simply by posting
                  such change, update, or modification on the Website and without any other notice to you. Any such
                  change, update, or modification will be effective immediately upon posting. It is your responsibility
                  to review these Terms of Service from time to time to ensure that you continue to agree with all
                  of its terms. You will be bound by the new policy upon your continued use of the Website. No other
                  variation to these Terms shall be effective unless in writing and uploaded herein on behalf of Pedagogy.
                </li>
                <li class="">
                  We will send you information relating to your account (e.g. payment authorizations, invoices, changes in password or Payment
                  Method, confirmation messages, notices) in electronic form only.
                </li>
                <li class="">
                  These Terms shall be governed by and construed in accordance with Indian laws and you agree to submit to the exclusive jurisdiction
                  of the Ahmedabad, Gujarat, India.
                </li>
                <li class="">
                  You agree that any cause of action arising out of or related to the Website or Services must commence within one (1) year
                  after the cause of action accrues otherwise, such cause of action will be permanently barred.
                </li>
                <li class="">
                  If any provision(s) of these Terms is held by a court of competent jurisdiction to be invalid or unenforceable, then such
                  provision(s) shall be construed, as nearly as possible, to reflect the intentions of the parties
                  (as reflected in the provision(s)) and all other provisions shall remain in full force and effect.
                </li>
                <li class="">
                  <div>
                    Dispute Resolution:
                    <ol>
                      <li class="">
                        Any dispute, controversy or claim arising out of or relating to this Agreement or any related agreement or other document
                        or the validity , interpretation, breach or termination thereof (“Dispute”), including claims
                        seeking redress or asserting rights under applicable law, shall, unless settled amicably between
                        the Parties hereto, be resolved and finally settled in accordance with the provisions of the
                        Arbitration and Conciliation Act, 1996 as may be amended from time to time or its re-enactment,.
                        The arbitral tribunal shall be composed of one arbitrator to be appointed jointly by both the
                        parties and such Arbitration shall take place in Ahmedabad, Gujarat.
                      </li>
                      <li class="">
                        The Parties agree that the award passed by the arbitration panel shall be final and binding upon the Parties, and that the
                        Parties shall not be entitled to commence or maintain any action in any court of law in respect
                        of any matter in dispute arising from or in relation to the Agreement, except for the enforcement
                        of an arbitral award passed by an arbitration panel pursuant to this clause.
                      </li>
                    </ol>
                  </div>
                </li>
                <li class="">
                  Pedagogy’s failure to exercise or enforce any right or provision of these Terms shall not constitute a waiver of such right
                  or provision unless acknowledged and agreed to by Pedagogy in writing.
                </li>
                <li class="">
                  The Clauses 8.2, 10, 11, 13, 14, 16.5, 16.6 and 16.10 shall survive the termination of this Agreement.
                </li>
              </ol>
            </div>
          </li>
          <li class="">
            <div>
              CONTACT US:
              <p class="font-weight-normal">
                You can contact Pedagogy at B-4, Himmatlal Park, Satellite, Ahmedabad, Gujarat 380015 India. Phone no. +91-9638266566, email: info@pedagogy.study 
              </p>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<pdg-footer></pdg-footer>